@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
  font-family: Fredoka, sans-serif;
}

html{
  background: #1e1b18;
}

body{
  margin: 0;
}

h1,h2,h3,p,em,a{
  color: #fffaff;
  font-weight: 450;
}

nav{
  z-index: 1;
  display: flex;
  align-items: center;
  user-select: none;
  position: fixed;
  width: calc(100% - 30px);
  justify-content: space-between;
  padding-inline: 15px;
  height: 60px;
  top: 0;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.5);
}

img {
  width: 100%;
  opacity: 0.8;
  border-radius: 20px;
}

footer{
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  height: 60px;
}

a{
  color: #D8315B;
  text-decoration: none;
}

.navitem a{
  height: 25px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: large;
  border-radius: 5px;
  transition: 0.2s;
}

.active{
  background: #D8315B;
  padding: 2px 4px;
}

.typewrite{
  color: #D8315B;
}

a[onclick]{
  cursor: grab;
}

.navitem{
  display: flex;
  align-items: center;
}

.topic{
  margin: 10rem;
  max-width: 60rem;
}

.projects-display{
  display: flex;
  gap: 10px;
  overflow: auto;
  align-items: center;
}


::-webkit-scrollbar{
  background: #0F0D0C;
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: #1e1b18;
  border-radius: 10px;
  margin: 5px;
}

::-webkit-scrollbar-thumb:active{
  background: #fffaff;
}

@media screen and (max-width:720px) {
  .pc{
    display: none;
  }
  .navitem{
    gap: 15px !important;
  }
  .topic{
    margin: 1rem;
  }
  nav{
    justify-content: space-around;
  }
  #contact-header{
    display: none;
  }
  footer{
    display: flex !important;
  }
}