/* styles.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  margin: 0;
}

.container {
  position: relative;
  width: 200px;
  height: 200px;
}

.logo {
  width: 50px;
  height: 50px;
  background: url('icons/heliacer.svg') no-repeat center center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(20deg) rotateY(20deg);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  animation: explode 1s forwards;
}

.icon.js { background-image: url('icons/js.svg'); }
.icon.html5 { background-image: url('icons/html.svg'); }
.icon.css3 { background-image: url('icons/css.svg'); }
.icon.react { background-image: url('icons/react.svg'); }
.icon.python { background-image: url('icons/py.svg'); }
.icon.rust { background-image: url('icons/rust.svg'); }
.icon.design { background-image: url('icons/design.svg');}
.icon.vite { background-image: url('icons/vite.svg');}

@keyframes explode {
  0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0) rotateX(0deg) rotateY(0deg);
  }
  10% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1) rotateX(20deg) rotateY(20deg);
  }
  100% {
      opacity: 1;
      transform: translate(calc(-50% + var(--dx)), calc(-50% + var(--dy))) scale(1) rotateX(20deg) rotateY(20deg);
  }
}

/* Positions for icons */
.icon.js { --dx: 100px; --dy: -100px; }
.icon.html5 { --dx: -100px; --dy: -100px; }
.icon.css3 { --dx: 100px; --dy: 100px; }
.icon.react { --dx: -100px; --dy: 100px; }
.icon.python { --dx: 150px; --dy: 0px; }
.icon.rust { --dx: -150px; --dy: 0px; }
.icon.design { --dx: 0px; --dy: 150px; }
.icon.vite { --dx: 0px; --dy: -150px; }
/* Add more position variables for additional icons */
