.menu-container a {
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 0.7;
}

.menu-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.burger {
  cursor: pointer;
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: rgb(var(--text-rgb));
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.open.bar1 {
  transform: translate(0, 9px) rotate(-45deg);
}

.open.bar2 {
  opacity: 0;
}

.open.bar3 {
  transform: translate(0, -9px) rotate(45deg);
}

.logo {
  height: 30px;
  width: 30px;
  transition: 0.3s;
}

.logo:active {
  transform: translateY(5px);
}

button, input {
  background: transparent;
  padding: 10px 20px;
  border: 1px solid rgb(var(--text-rgb));
  border-radius: 10px;
  color: rgb(var(--text-rgb));
  transition: 0.3s;
}

button:hover {
  border-color: var(--primary);
  color: var(--primary);
}

button:active {
  transform: translateY(5px);
}

.hero {
  display: flex;
  padding: 10rem;
  opacity: 0.7;
  position: relative;
  height: 600px;
  z-index: -1;
}
