:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --rich-black: #011627ff;
  --powder-white: #fdfffcff;
  --light-sea-green: #2ec4b6ff;
  --red-pantone: #e71d36ff;
  --orange-peel: #ff9f1cff;
}

body {
  background-color: var(--rich-black);
  color: var(--powder-white);
  margin: 0;
  padding: 0;
}