@media only screen and (max-width: 780px) {
  .hero {
    padding: 5rem 5rem 0 5rem;
  }
  .chevron{
    padding: 20px 20px 5rem 20px;
  }
  main {
    margin: 0 30px;
  }
  footer {
    padding: 20px 30px;
  }
  .pc {
    display: none;
  }
  .cursor {
    display: none;
  }
  nav {
    padding: 0;
    display: block;
  }
  .logo-header {
    top: 20px;
    right: 20px;
    position: absolute;
  }
  .menu-container {
    display: none;
    margin-left: 20px;
  }
  .menu-container.open {
    display: block;
  }
  .burger {
    display: block;
    width: fit-content;
    padding: 20px;
  }
}
