@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
  font-family: 'Fredoka', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-primary: #0d0c15;
  --bg-secondary: #0f0f0f;
  --royal-blue: #0a2463ff;
  --celestial-blue: #3e92ccff;
  --ghost-white: #fffaffff;
  --cerise: #d8315bff;
}  

body {
  background-color: var(--bg-primary);
  color: white;
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  align-items: self-start;
  gap: 1em;
}

a{
  text-decoration: none;
  color: white;
}

.active{
  color: var(--cerise);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.logo {
  height: 3em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--cerise));
}

::-webkit-scrollbar{
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb{
  cursor: grab;
  background: var(--cerise);
  border-radius: 10px;
  margin: 5px;
}

::-webkit-scrollbar-thumb:active{
  cursor: grabbing;
}

.glowball{
  position: absolute;
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  background-color: var(--cerise);
  filter: blur(250px);
}