@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
  color-scheme: dark;
  font-family: 'Fredoka', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-primary: #0d0c15;
  --bg-secondary: #0f0f0f;
  --royal-blue: #0a2463ff;
  --celestial-blue: #3e92ccff;
  --cerise: #d8315b;
}  

body {
  background-color: var(--bg-primary);
  color: white;
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  position: fixed;
  top: 0;
  background: var(--bg-primary);
  align-items: center;
  gap: 1em;
  width: 100%;
}

nav.scrolled{
  border-bottom: white 1px solid;
}

nav a{
  display: flex;
  align-items: center;
  gap: 5px;
}

a{
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
a:active{
  transform: translateY(5px);
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.topic{
  margin: 10rem;
}

.active{
  color: var(--cerise);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.logo {
  height: 2em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  transition: 0.3s;
}

.logo:active{
  transform: translateY(5px);
}

.logo:hover{
  filter: drop-shadow(0 0 2em var(--cerise));
  transition: 0.3s;
}
.glowball{
  position: absolute;
  border-radius: 50%;
  background-color: var(--cerise);
  filter: blur(200px);
}