@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Main components */
:root {
  color-scheme: dark;
  font-family: 'Fredoka', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  --primary: #f02356;
  --secondary: #cf053e;
  --background: #171623;
  --text-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #970b43;
    --secondary: #451423;
    --background: #dedff4;
    --text-rgb: 0, 0, 0;
  }
  .logo{
    filter: brightness(0) !important;
  }
}

.content, footer{
  padding: 0 100px
}

body {
  margin: 0;
  padding: 0;
  color: rgba(var(--text-rgb), 0.87);
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

footer{
  display: flex;
  gap: 20px;
  border-top: rgb(var(--text-rgb)) 1px solid;
}

footer a{
  display: flex;
  gap: 5px;
  align-items: center;
}

.cursor{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0.1;
  z-index: 9999;
}

/* Nav */
nav{
  background:  var(--background);
  position: fixed;
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
  top: 0;
}

img{
  z-index: -1;
  position: relative;
}

nav.scrolled{
  border-bottom: rgb(var(--text-rgb)) 1px solid;
}

nav a{
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 0.7;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: rgb(var(--text-rgb));
  transition: 0.3s;
}

a:active{
  transform: translateY(5px);
}

/* Hero */
.hero{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 50px;
  padding: 10rem;
}

/* Topic */
.topic{
  margin: 50px 0;
}

section{
  margin: 20px 0;
}

.topic p {
  margin: 0;
}

.active{
  color: var(--primary);
}

.projects{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.project-background-image{
  height: 200px;
  border-radius: 10px;
  opacity: 0.5;
}

/* Logo */
.logo {
  height: 2em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  transition: 0.3s;
}

.logo:active{
  transform: translateY(5px);
}

.logo:hover{
  filter: drop-shadow(0 0 2em var(--primary));
  transition: 0.3s;
}

/* Glowball */
.glowball{
  position: absolute;
  border-radius: 50%;
  background-color: var(--primary);
  filter: blur(200px);
}

/* Button */

button, input{
  background: transparent;
  padding: 10px 20px;
  border: 1px solid rgb(var(--text-rgb));
  border-radius: 10px;
  color: rgb(var(--text-rgb));
  transition: 0.3s;
}

button:hover{
  border-color: var(--primary);
  color: var(--primary);
}

button:active{
  transform: translateY(5px);
}

/* Utterances */
.utterances{
  margin-left: 100px;
  z-index: -1;
}

/* Misc */
@media only screen and (max-width: 720px) {
  .hero{
    padding: 5rem;
  }
  .content, footer{
    padding: 0 30px;
  }
  .pc{
    display: none;
  }
  .cursor{
    display: none;
  }
}