@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Main components */
:root {
  color-scheme: dark;
  font-family: 'Fredoka', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  --primary: #f02356;
  --secondary: #cf053e;
  --background: #171623;
  --text-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #970b43;
    --secondary: #451423;
    --background: #dedff4;
    --text-rgb: 0, 0, 0;
  }
  .logo, .logo-animate, .icon-animate{
    filter: brightness(0) !important;
  }
}

.main{
  margin: 0 100px
}

body {
  margin: 0;
  padding: 0;
  color: rgba(var(--text-rgb), 0.87);
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

footer {
  border-top: rgb(var(--text-rgb)) 1px solid;
  display: flex;
  gap: 20px;
  padding: 20px 100px;
  flex-wrap: wrap;
}

footer p{
  margin: 0;
}

footer a{
  display: flex;
  gap: 5px;
  align-items: center;
}

.cursor{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0.1;
  z-index: 9999;
}

/* Nav */
nav{
  background:  var(--background);
  position: fixed;
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
  top: 0;
}

img{
  position: relative;
  z-index: -1;
}

nav.scrolled{
  border-bottom: rgb(var(--text-rgb)) 1px solid;
}

nav a{
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 0.7;
}


.repelButton {
  cursor: pointer;
  transition: transform 0.2s ease;
}

br{
  border: 1px solid rgb(var(--text-rgb));
}

a{
  user-select: none;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: rgb(var(--text-rgb));
  transition: 0.3s;
}

a:active{
  transform: translateY(5px);
}

a:hover{
  color: var(--primary);
}

/* Hero */
.hero{
  display: flex;
  padding: 10rem;
  opacity: 0.7;
  position: relative;
  height: 600px;
  z-index: -1;
}

/* Topic */
.topic{
  margin: 50px 0;
}

section{
  margin: 20px 0;
}

.topic p {
  margin: 0;
}

.active{
  color: var(--primary);
}

.scratch-projects{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.project-bg{
  width: 100%;
  border-radius: 10px;
  opacity: 0.5;
}

.scratch-projects .project-bg{
  width: 200px;
}

.icon-text{
  display: inline;
  padding-left: 5px;
}

/* Logo */
.logo {
  height: 2em;
  padding: 1.5em;
  transition: 0.3s;
}

.logo:active{
  transform: translateY(5px);
}

.logo:hover{
  filter: drop-shadow(0 0 2em var(--primary));
  transition: 0.3s;
}

/* Glowball */
.glowball{
  position: absolute;
  border-radius: 50%;
  background-color: var(--primary);
  filter: blur(200px);
}

/* Button */

button, input{
  background: transparent;
  padding: 10px 20px;
  border: 1px solid rgb(var(--text-rgb));
  border-radius: 10px;
  color: rgb(var(--text-rgb));
  transition: 0.3s;
}

button:hover{
  border-color: var(--primary);
  color: var(--primary);
}

button:active{
  transform: translateY(5px);
}

/* Normal Image */

.image{
  opacity: 0.7;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Intro Animation */

.logo-animate {
  width: 120px;
  height: 120px;
  background: url('/vectors/logo.svg') no-repeat center center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-animate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(20deg) rotateY(20deg);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  animation: explode 2s forwards;
}

.content{
  max-width: 900px;
}

@keyframes explode {
  0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
  }
  10% {
      opacity: 0.5;
      transform: translate(-50%, -50%) scale(1) rotateX(var(--rx1)) rotateY(var(--ry1)) rotateZ(var(--rz1));
  }
  100% {
      width: var(--size);
      height: var(--size);
      opacity: 1;
      transform: translate(calc(-50% + var(--dx)), calc(-50% + var(--dy))) scale(1) rotateX(var(--rx2)) rotateY(var(--ry2)) rotateZ(var(--rz2));
  }
}

/* Misc */
@media only screen and (max-width: 780px) {
  .hero{
    padding: 5rem;
  }
  .main{
    margin: 0 30px;
  }
  .pc{
    display: none;
  }
  .cursor{
    display: none;
  }
  .scratch-projects{
    justify-content: center;
  }
}